.AppBody{

    display: flex;
    flex-direction: column;
    background-color: #f5f7f9;
    margin-left: 268px; 
    
    

}
@media (max-width:950px) {
    .AppBody{
        margin-left: 15%;
    }
    
    
}
